<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<style>
  div.toastify {
	display: flex !important;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  
  img.toastify-avatar {
   	width: 7.5rem !important;
    height: 7.5rem !important;
  }
</style>  


{% for block in section.blocks %}
	{% assign product = block.settings.selectedProduct %}	

    <script>
      Toastify({
        text: "<p>Someone bought <b>{{ product.title | truncate: 25 }}</b></p>",
        duration: 3000,
        destination: "",
        newWindow: true,
        avatar: "{{ product.featured_image | img_url: 'medium' }}",
        close: true,
        gravity: "bottom",
        position: "left",
        backgroundColor: "white",
        style: { width: "400px", color: "black" },
        stopOnFocus: true,
        escapeMarkup: false
      }).showToast();
    </script>

{% endfor %}

{% schema %}
  {
    "name": "Sales Popup Notification",
    "settings": [],
	"blocks": [
		{
			"name": "Product",
			"type": "sales-product-popup",
			"settings": [
				{
					"type": "product",
					"id": "selectedProduct",
					"label": "Product"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
